# Eclipse
*/dev.properties
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
**/target/*
**/*.iml
**/dependency-reduced-pom.xml
/velocity.log
/configs/*
/docker/api-serving-jar-with-dependencies.jar
/docker/social-data-service-config.yaml
**/.gradle/*
serving/api-model/build/*
serving/build/*
implementation/model/build/*
implementation/build/*
common/build/*
**/out/*
/build/*
**/*.ipr
**/build/*
k8s/chart/query-director/charts
k8s/chart/query-director/*.lock
serving/src/main/generated/
**/generated/*
**/gradle/wrapper*